# Dependency directories
node_modules/

# Build output
dist/

# Configuration files
config.json

# Data files
*.csv

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?